@import url('https://fonts.googleapis.com/css?family=Cabin:500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

* {
  margin: 0;
  padding: 0;
}

body{
  h1, h2, h3, h4{font-family: 'Cabin', sans-serif;}
  font-family: 'Roboto', sans-serif;
  margin:0;
}

h2, h3, h4{font-weight: normal;}

.submit{
  background: #07C;
  font-weight: bold;
  color: #FFF;
  width: 120px;
  padding: 12px 40px;
  border-radius: 6px;
  border-style:none;
  font-size: 13px;
  &.special{
    background: #F48024;
  }
  &.question{
    width:auto;
  }
}

a{
  text-decoration:none;
  color:#07C;
}

.errors {
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-direction: column;
  li{
    color:#F48024;
    display: list-item;
  }
}


.container{
  width:100%;
  height:auto;
  padding:auto;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  flex-direction: column;
}

.split_content{
  color: #464e55;
  align: center;
  width:100%;
  max-width:1080px;
  height:auto;
  text-align: center;
  box-sizing: border-box;
  // border: 1px solid #F48024;
  min-height: 750px;
  overflow: visible;
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-direction: row;

  // &.content {
  //   border-style: none;
  //   width: 400px;
  //   display:flex;
  //   align-items:center;
  //   justify-content:center;
  //   flex-direction: column;
  // }
}
