@import url('https://fonts.googleapis.com/css?family=Cabin:500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
@import "variables";


* {
  margin: 0;
  padding: 0;
}

body{
  h1, h2, h3, h4{font-family: 'Cabin', sans-serif;}
  font-family: 'Roboto', sans-serif;
  margin:0;
}

h2, h3, h4{font-weight: normal;}

p{
  font-size:12px;
}

.submit{
  background: $blue;
  font-weight: bold;
  color: $white;
  width: 120px;
  padding: 12px 40px;
  border-radius: 6px;
  border-style:none;
  font-size: 13px;
  &.special{
    background: $theme-color;
  }
  &.question{
    width:auto;
    margin-right:0;
  }
}

a{
  text-decoration:none;
  color:$blue;
}

.errors {
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-direction: column;
  margin: 10px 0px 0 20px;
  li{
    color:$theme-color;
    display: list-item;
  }
}


.container{
  width:100%;
  height:auto;
  padding:auto;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  flex-direction: column;
}

.split-content{
  color: $darker-grey;
  align: center;
  width:100%;
  max-width:1080px;
  height:auto;
  text-align: center;
  box-sizing: border-box;
  // border: 1px solid F48024;
  min-height: 750px;
  overflow: visible;
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
  flex-direction: row;
  padding:0 25px;

}


.upvote {
  margin: 5px;
  width: 0;
  height: 0;
  background-color: white;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid $darker-grey;
  border-top: 1px solid transparent;
  cursor:pointer;
  &.active{
    border-bottom-color: $upvote-orange;
  }
  &.disabled{
    cursor:default;
  }
}

.downvote {
  margin: 5px;
  width: 0;
  height: 0;
  background-color: white;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid $darker-grey;
  border-bottom: 1px solid transparent;
  cursor:pointer;
  &.active{
    border-top-color: $upvote-orange;
  }
  &.disabled{
    cursor:default;
  }
}
