@import url('https://fonts.googleapis.com/css?family=Cabin:500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');


body{
  h1, h2, h3, h4{font-family: 'Cabin', sans-serif;}
  font-family: 'Roboto', sans-serif;
  margin:0;
}

h2, h3, h4{font-weight: normal;}

.submit{
  background: #07C;
  font-weight: bold;
  color: #FFF;
  width: 120px;
  padding: 12px 40px;
  border-radius: 6px;
  border-style:none;
  font-size: 13px;
  &.special{
    background: #F48024;
  }
  &.question{
    width:auto;
  }
}

a{
  text-decoration:none;
  color:#07C;
}

.errors {
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-direction: column;
  li{
    color:#F48024;
    display: list-item;
  }
}


.container{
  width:100%;
  height:auto;
  padding:auto;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  flex-direction: column;
}

.split_content{
  color: #464e55;
  align: center;
  width:100%;
  max-width:1080px;
  height:auto;
  margin: 0 1% 0 1%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #F48024;
  padding: 24px 15px;
  min-height: 750px;
  overflow: visible;

  // &.content {
  //   border-style: none;
  //   width: 400px;
  //   display:flex;
  //   align-items:center;
  //   justify-content:center;
  //   flex-direction: column;
  // }
}

.main_content{
  width:65%;
  display:flex;
  align-items:flex-start;
  justify-content:space-around;
  flex-direction: column;
  label{
    margin-right:5%;
    font-weight: bold;
  }
}


.tabs{
  height:auto;
  width:auto;
  padding: 13px 10px 0px 10px;
  margin-bottom: 0.83em;
}
.tab{
  padding: 13px 10px;
  cursor: pointer;
  color:#848d95;

  &.active{
    border: 2px solid;
    border-color:#e4e6e8;
    border-top:2px solid #f69c55;
    border-bottom-color: white;
    color:#242729;
  }
}


.sub-header-content{
  padding:2% 2% 0 2%;
  width:auto;
  display:flex;
  align-items:flex-end;
  justify-content:space-between;
  flex-direction: row;
  margin: 2;
  border-bottom:2px solid #e4e6e8;
}
