@import "variables";


.tabs{
  height:auto;
  width:auto;
  padding: 14px 0px 0px 10px;
  margin-bottom: 14px;
}
.tab{
  padding: 15px 10px;
  cursor: pointer;
  color:  $inactive-tab;
  border: 2px solid;
  border-color: transparent;
  font-size: 12px;
  &.active{
    border-color:$lighter-grey;
    border-top:2px solid $upvote-orange;
    border-bottom-color: white;
    color:$darkest-grey;
  }
}

.sub-header-content{
  width:100%;
  display:flex;
  align-items:flex-end;
  justify-content:space-between;
  flex-direction: row;
  border-bottom:2px solid $lighter-grey;
  &.side{
    border:none;
  }
  &.full{
    align-items:center;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
}
.sub-header-content > h3{
  font-weight: normal;
  padding: 28px 0 14px 0;
}

.sub-header-content > h2{
  font-weight: normal;
  padding: 28px 0 14px 0;
  text-overflow: ellipsis;
  word-wrap: break-word;
  width:100%;
  text-align:left;
}
