@import "variables";


.main-content{
  width:728px;
  display:flex;
  align-items:flex-start;
  justify-content:space-around;
  flex-direction: column;
  label{
    margin-right:5%;
    font-weight: bold;
  }
}

.questions-list{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-direction: column;
  width: 100%;
  padding:none;
}

.question-display{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-direction: column;
  width: 100%;
  padding:20px 10px;
  text-align: left;
}

.question-display-content{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.question-display-content > p{
  font-size: 15px;
}

.question-display-footer{
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}

.author-info{
  align-self: flex-end;
  box-sizing: border-box;
  padding: 5px 6px 7px 7px;
  width:100%;
  min-width: 200px;
  max-width: 33%;
  color: $dark-grey;
  background-color:$author-box;
  &.question {
    background-color: inherit;
  }
}

.questions-list-item{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  flex-direction: row;
  border-bottom: 1px solid $lighter-grey;
  width: 100%;
}

.question-stat-bar{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  margin-right: 20px;
  width:46px;
}
.question-summary{
  width: 100%;
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.question-summary > p {
  padding: 10px 0;
  font-size: 13px;
}

.list-view-score{
  font-size: 22px;
  padding:0;
  margin: 0;
}
.list-view-label{
  font-size: 11px;
  padding:0;
  margin: 0;
}

.question-header{
  color: inherit$darker-grey;
  align: center;
  width:100%;
  max-width:1080px;
  height:auto;
  text-align: left;
  box-sizing: border-box;
  // border: 1px solid #F48024;
  min-height: 30px;
  overflow: visible;
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
  flex-direction: row;
}
