.main_content{
  width:728px;
  display:flex;
  align-items:flex-start;
  justify-content:space-around;
  flex-direction: column;
  label{
    margin-right:5%;
    font-weight: bold;
  }
}

.questions-list{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-direction: column;
  width: 100%;
  padding:none;
}

.questions-list-item{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  flex-direction: row;
  border-bottom: 1px solid #e4e6e8;
  width: 100%;
}

.question-stat-bar{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  margin-right: 20px;
}
.question-summary{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}

.question-summary > p {
  padding: 10px 0;
  font-size: 13px;
}

.list-view-score{
  font-size: 22px;
  padding:0;
  margin: 0;
}
.list-view-label{
  font-size: 11px;
  padding:0;
  margin: 0;
}
