.content{
  align:center;
  width:80%;
  max-width:960px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: row;
  margin: 0 auto;
}

.header-group{
  width: 100%;
}
.sub-header{
  width:100%;
  margin: 3%;
  display:flex;
  align-items:flex-start;
  justify-content: flex-start;
  margin-top:80px;
}

.tabs{
  border-top:1px solid #e4e6e8;
}
.tab{
  padding: 13px 10px;
  border-style: none;
  cursor: pointer;
  color:#848d95;
  &.active{
    border:1px solid;
    border-color:#e4e6e8;
    border-top-color:#f69c55;
    border-bottom-color: transparent;
    color:#242729;
  }
}


.login-form-container {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  width: 100%
}

.login-form-box{
  width: 460px;
  border:1px solid;
  border-color:#e4e6e8;
  padding: 30px;
  display:flex;
  align-items:center;
  justify-content:space-around;
  flex-direction: column;
}

.login-form{
  align-items:center;
  justify-content:space-around;
  flex-direction: column;
  label{
    display:block;
    margin-top:5%;
    width: 263px;
    font-weight: bold;
  }
}

.login-input{
  width:100%;
  margin:4px 0;
  padding:4px;
}
