
$theme-color: #F48024; // orange
$white: #FFF;
$blue: #07C;
$darkest-grey: #242729;
$darker-grey: #464e55;
$dark-grey: #6A737C;
$upvote-orange: #f69c55;
$lightest-grey: #fafafb;
$lighter-grey: #e4e6e8;
$light-grey: #c8ccd0;
$inactive-tab: #848d95; //needs swap
$author-box:#E0EAF1;
